@mixin font-face($font-family, $file-path, $weight, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
  }
}

@include font-face("Roboto", "../fonts/roboto/roboto-v18-latin_cyrillic-regular", 400);
@include font-face("Roboto", "../fonts/roboto/roboto-v18-latin_cyrillic-500", 500);
@include font-face("Roboto", "../fonts/roboto/roboto-v18-latin_cyrillic-700", 700);
@include font-face("Golos", "../fonts/golos/GolosText-DemiBold", 600);
@include font-face("Icon", "../fonts/icons/icon", 400);
@include font-face("RobotoMono", "../fonts/roboto/RobotoMono-Regular", 400);
