<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Список классификаторов{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-center">
    <div class="wrapper-outer">
        <div class="wrapper">
            <header class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="navbar">
                                <div class="logo">
                                    <a href="#">Управа</a>
                                </div>
                                <button data-toggle-header class="button button-icon">
                                    <i class="icon icon-bars"></i>
                                </button>
                                <nav class="horizontal-menu">
                                    <div class="menu-left">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-page menu-prefix"></i>
                                                    <span class="menu-label">Записи</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-map-tree menu-prefix"></i>
                                                    <span class="menu-label">Формирования</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="active">
                                                    <i class="icon icon-classifiers menu-prefix"></i>
                                                    <span class="menu-label">Классификаторы</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-users menu-prefix"></i>
                                                    <span class="menu-label">Пользователи</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu-right">
                                        <ul>
                                            <li tabindex="0">
                                                <a href="#">
                                                    <i class="icon icon-user menu-prefix"></i>
                                                    <span class="menu-label">Администратор</span>
                                                    <i class="icon icon-chevron-down menu-postfix"></i>
                                                </a>
                                                <div class="menu-submenu">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Профиль</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Выход</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumbs">
                                <ul class="breadcrumbs-list">
                                    <li class="breadcrumbs-item">
                                        <a href="#" class="breadcrumbs-link">Главная</a>
                                    </li>
                                    <li class="breadcrumbs-item">
                                        <a href="#" class="breadcrumbs-link">Классфикаторы</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="title">
                                <h1>Список классификаторов</h1>
                                <button type="button" class="button button-solid button-primary">Создать классификатор</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start justify-content-end mb-24">
                                <button type="button" class="button button-icon" data-toggle-filter data-filter="#filter">
                                    <i class="icon icon-filters"></i>
                                    <span class="button-counter">2</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="filter d-none" id="filter">
                                <form>
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <div class="field-icon field-icon-prefix">
                                                    <i class="icon icon-search field-icon-start"></i>
                                                    <input type="search" placeholder="Найти" name="field_name" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <div class="field-icon field-icon-prefix">
                                                    <i class="icon icon-search field-icon-start"></i>
                                                    <input type="search" placeholder="Найти" name="field_name" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <div class="field-icon field-icon-prefix">
                                                    <i class="icon icon-search field-icon-start"></i>
                                                    <input type="search" placeholder="Найти" name="field_name" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="field mb-16">
                                                <select class="ds-select" name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                    <option label="Select a state"></option>
                                                    <option>one</option>
                                                    <option>two</option>
                                                    <option>tree</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="filed mb-16">
                                                <button type="submit" class="button button-solid button-secondary">Найти</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="table-container">
                                <table data-fix-right-col="true">
                                    <thead>
                                        <tr>
                                            <th>Машинное имя</th>
                                            <th>Код</th>
                                            <th>Наименование</th>
                                            <th class="th-sortable">
                                                <a href="#" class="sortable">Дата создания</a>
                                            </th>
                                            <th class="th-sortable">
                                                <a href="#" class="asc">Дата изменения</a>
                                            </th>
                                            <th>Владелец</th>
                                            <th class="th-sortable">
                                                <a href="#" class="desc">Статус</a></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>Наименование</td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-success"><i class="icon icon-check-circle"></i> Активный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-fill"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>Наименование</td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-default"><i class="icon icon-check-circle"></i>Архивный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-outline"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>
                                                Наименование<br>
                                                <span class="badge badge-green">учёт данных</span>
                                            </td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-danger"><i class="icon icon-times-circle"></i> Архивный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-outline"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>
                                                Наименование<br>
                                                <span class="badge badge-blue">данные</span>
                                            </td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-default">Архивный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-outline"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>Наименование</td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-danger">Архивный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-outline"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>id_name </td>
                                            <td>id_name</td>
                                            <td>Наименование</td>
                                            <td>20.07.2021 16:34</td>
                                            <td>20.07.2021 16:37</td>
                                            <td>administrator</td>
                                            <td class="pv-8">
                                                <span class="status status-success">Активный</span>
                                            </td>
                                            <td class="text-right pv-8">
                                                <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-list"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                <a href="#" class="td-link"><i class="icon icon-star-fill"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="pagenav">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <div class="pagenav-counter">Страница 1 из 179</div>
                                        <div class="pagenav-results">
                                            Результатов на странице
                                            <select name="count_page" data-placeholder="Выберите из списка" data-select2-search="false" data-select2-width="85px">
                                                <option value="1">30</option>
                                                <option value="2">60</option>
                                                <option value="3">90</option>
                                                <option value="4">120</option>
                                                <option value="5">Все</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="pagenav-pagination">
                                            <nav>
                                                <ul class="pagination">
                                                    <li class="page-item disabled">
                                                        <span class="page-link">«&nbsp;Назад</span>
                                                    </li>
                                                    <li class="page-item active">
                                                        <span class="page-link">1</span>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" rel="next" href="#">Вперед&nbsp;»</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                            <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% block scripts %}
    <script>
        let t = localStorage.getItem('t')
        if(!t || (t && t === 'default')) {
            document.body.classList.remove('flavum')
            document.body.classList.remove('ferrum')
        } else if(t === 'flavum') {
            document.body.classList.remove('ferrum')
            document.body.classList.add('flavum')
        } else if(t === 'ferrum') {
            document.body.classList.remove('flavum')
            document.body.classList.add('ferrum')
        }
    </script>
{% endblock %}

</body>
</html>
