<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Ошибка 500{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-fluid">
    <div class="wrapper-outer">
        <div class="wrapper">
            <div class="content">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <div class="e500">
                                <div class="e500-top">
                                    <div class="row h-100">
                                        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-3">
                                            <div class="e500-image">
                                                <img src="/images/e500.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="e500-bottom">
                                    <div class="row">
                                        <div class="col-12 col-xl-10 offset-xl-1">
                                            <div class="e500-title">Что-то пошло не так</div>
                                            <div class="e500-description">Мы уже спешим на помощь</div>
                                            <div class="e500-button">
                                                <a href="#" class="button button-solid button-primary">Вернуться на главную</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>