<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Редактирование профиля{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-center">
    <div class="wrapper-outer">
        <div class="wrapper">
            <header class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="navbar">
                                <div class="logo">
                                    <a href="#">Паспортная система</a>
                                </div>
                                <button data-toggle-header class="button button-icon">
                                    <i class="icon icon-bars"></i>
                                </button>
                                <nav class="horizontal-menu">
                                    <div class="menu-right">
                                        <ul>
                                            <li tabindex="0">
                                                <a href="#">
                                                    <i class="icon icon-user menu-prefix"></i>
                                                    <span class="menu-label">Администратор</span>
                                                    <i class="icon icon-chevron-down menu-postfix"></i>
                                                </a>
                                                <div class="menu-submenu">
                                                    <ul>
                                                        <li>
                                                            <a href="#" class="active">
                                                                <span class="menu-label">Профиль</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Выход</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h1 class="d-flex align-items-center">
                                    Профиль
                                    <a href="#" class="button button-icon button-active ml-8">
                                        <i class="icon icon-pencil"></i>
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-12">
                            <form>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="infoblock infoblock-editable accent mb-16">
                                            <div class="infoblock-title">
                                                <h3>Данные пользователя</h3>
                                            </div>
                                            <div class="infoblock-content">
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="uploader">
                                                                <label>Фото</label>
                                                                <div class="uploader-area">
                                                                    Перетащите файл сюда или
                                                                    <label class="uploader-label">
                                                                        загрузите
                                                                        <input type="file" name="avatar" class="uploader-input">
                                                                    </label>
                                                                    с устройства.
                                                                </div>
                                                                <div class="uploader-filelist uploader-exist">
                                                                    <ul>
                                                                        <li>
                                                                            <div class="avatar avatar-24 avatar-rounded mv-4 mr-4">
                                                                                <img src="/images/photo.jpg" alt="Photo555.jpg" title="Photo555.jpg">
                                                                            </div>
                                                                            <a href="#" title="Photo555.jpg">
                                                                                <span>Photo555.jpg</span>
                                                                            </a>&nbsp;<span>(10 КБ)</span>
                                                                            <button type="button" class="button button-icon" data-tooltip title="Удалить">
                                                                                <i class="icon icon-trash"></i>
                                                                            </button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="uploader-filelist"><ul></ul></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="jDlb0w8">Логин</label>
                                                                <input type="text" placeholder="Логин" id="jDlb0w8" disabled value="Лисицин Юрий Алексеевич" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="BSiu0LS">Ldap ФИО</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Ldap ФИО" id="BSiu0LS" value="Лисицин Юрий Алексеевич">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="infoblock infoblock-editable accent mb-16">
                                            <div class="infoblock-title">
                                                <h3>Персональные данные</h3>
                                            </div>
                                            <div class="infoblock-content">
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="c4aT3RG">Имя</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Имя" id="c4aT3RG" value="Иван">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="v3i2zOS">Фамилия</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Фамилия" id="v3i2zOS" value="Иванов">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="5kexT2Z">Отчество</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Отчество" id="5kexT2Z" value="Иванович">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="xUmOMQo">Подразделение</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Подразделение" id="xUmOMQo" value="по г. Москве">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="ATTal7Y">Должность</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Должность" id="ATTal7Y" value="Руководитель">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="90mJfAT">Дата рождения</label>
                                                                <div class="field-icon field-icon-double-postfix">
                                                                    <input type="text" placeholder="Дата рождения" id="90mJfAT" value="19.01.2021" data-calendar>
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                    <button type="button" class="field-button field-button-end" data-calendar-open="">
                                                                        <i class="icon icon-calendar"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="infoblock infoblock-editable accent mb-16">
                                            <div class="infoblock-title">
                                                <h3>Контакты</h3>
                                            </div>
                                            <div class="infoblock-content">
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="j7kCtct">Телефон (моб.)</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Телефон (моб.)" id="j7kCtct" value="+79213675448">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="SgpMJBu">Факс</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Факс" id="SgpMJBu" value="">
                                                                    <button type="button" class="field-button field-button-end d-none" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="HeNCj38">Телефон (раб. внутр.)</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Телефон (раб. внутр.)" id="HeNCj38" value="">
                                                                    <button type="button" class="field-button field-button-end d-none" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="iVG0TFA">Телефон (раб. внеш.)</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Телефон (раб. внеш.)" id="iVG0TFA" value="">
                                                                    <button type="button" class="field-button field-button-end d-none" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="Vjc0aP3">Телефон (раб. моб.)</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Телефон (раб. моб.)" id="Vjc0aP3" value="+79213775485">
                                                                    <button type="button" class="field-button field-button-end" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="infoblock-row">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="field pb-16">
                                                                <label for="oQ8FXuy">Адрес</label>
                                                                <div class="field-icon field-icon-postfix">
                                                                    <input type="text" placeholder="Адрес" id="oQ8FXuy" value="">
                                                                    <button type="button" class="field-button field-button-end d-none" data-clear-field>
                                                                        <i class="icon icon-times"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sticky-footer">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex align-items-center">
                                                        <a href="#" class="button button-solid button-secondary mr-16">Отмена</a>
                                                        <button type="submit" class="button button-solid button-primary">Сохранить</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                            <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>

{% block scripts %}
    <script>
        let t = localStorage.getItem('t')
        if(!t || (t && t === 'default')) {
            document.body.classList.remove('flavum')
            document.body.classList.remove('ferrum')
        } else if(t === 'flavum') {
            document.body.classList.remove('ferrum')
            document.body.classList.add('flavum')
        } else if(t === 'ferrum') {
            document.body.classList.remove('flavum')
            document.body.classList.add('ferrum')
        }
    </script>
{% endblock %}

</body>
</html>
