<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Профиль{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-center">
    <div class="wrapper-outer">
        <div class="wrapper">
            <header class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="navbar">
                                <div class="logo">
                                    <a href="#">Паспортная система</a>
                                </div>
                                <button data-toggle-header class="button button-icon">
                                    <i class="icon icon-bars"></i>
                                </button>
                                <nav class="horizontal-menu">
                                    <div class="menu-right">
                                        <ul>
                                            <li tabindex="0">
                                                <a href="#">
                                                    <i class="icon icon-user menu-prefix"></i>
                                                    <span class="menu-label">Администратор</span>
                                                    <i class="icon icon-chevron-down menu-postfix"></i>
                                                </a>
                                                <div class="menu-submenu">
                                                    <ul>
                                                        <li>
                                                            <a href="#" class="active">
                                                                <span class="menu-label">Профиль</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Выход</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h1 class="d-flex align-items-center">
                                    Профиль
                                    <a href="#" class="button button-icon ml-8">
                                        <i class="icon icon-pencil"></i>
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="infoblock accent mb-16">
                                        <div class="infoblock-title">
                                            <h3>Данные пользователя</h3>
                                        </div>
                                        <div class="infoblock-content">
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="avatar avatar-80">
                                                            <img src="/images/no-photo.svg"
                                                                 alt="Фото профиля отсутствует"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Логин</strong></div>
                                                    <div class="col-8">administrator</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Ldap ФИО</strong></div>
                                                    <div class="col-8">Лисицин Юрий Алексеевич</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="infoblock accent mb-16">
                                        <div class="infoblock-title">
                                            <h3>Персональные данные</h3>
                                        </div>
                                        <div class="infoblock-content">
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Имя</strong></div>
                                                    <div class="col-8">Иван</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Фамилия</strong></div>
                                                    <div class="col-8">Иванов</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Отчество</strong></div>
                                                    <div class="col-8">Иванович</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Подразделение</strong></div>
                                                    <div class="col-8">по г. Москве</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Должность</strong></div>
                                                    <div class="col-8">Руководитель</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Дата рождения</strong></div>
                                                    <div class="col-8">19.01.2021</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="infoblock accent mb-16">
                                        <div class="infoblock-title">
                                            <h3>Контакты</h3>
                                        </div>
                                        <div class="infoblock-content">
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Телефон (моб.)</strong></div>
                                                    <div class="col-8">+79213675448</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Факс</strong></div>
                                                    <div class="col-8">-</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Телефон (раб. внутр.)</strong></div>
                                                    <div class="col-8">-</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Телефон (раб. внеш.)</strong></div>
                                                    <div class="col-8">-</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Телефон (раб. моб.)</strong></div>
                                                    <div class="col-8">-</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Адрес</strong></div>
                                                    <div class="col-8">-</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                            <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% block scripts %}
    <script>
        let t = localStorage.getItem('t')
        if(!t || (t && t === 'default')) {
            document.body.classList.remove('flavum')
            document.body.classList.remove('ferrum')
        } else if(t === 'flavum') {
            document.body.classList.remove('ferrum')
            document.body.classList.add('flavum')
        } else if(t === 'ferrum') {
            document.body.classList.remove('flavum')
            document.body.classList.add('ferrum')
        }
    </script>
{% endblock %}

</body>
</html>
