<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Результаты поиска{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-center">
    <div class="wrapper-outer">
        <div class="wrapper">
            <header class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="navbar">
                                <div class="logo">
                                    <a href="#">Сервис ведения реестра </a>
                                </div>
                                <button data-toggle-header class="button button-icon">
                                    <i class="icon icon-bars"></i>
                                </button>
                                <nav class="horizontal-menu">
                                    <div class="menu-left">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-exclamation-triangle menu-prefix"></i>
                                                    <span class="menu-label"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="active">
                                                    <i class="icon icon-search-check menu-prefix"></i>
                                                    <span class="menu-label">Проверки</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icon icon-time-back menu-prefix"></i>
                                                    <span class="menu-label">Уведомления</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu-right">
                                        <ul>
                                            <li tabindex="0">
                                                <a href="#">
                                                    <i class="icon icon-user menu-prefix"></i>
                                                    <span class="menu-label">Администратор</span>
                                                    <i class="icon icon-chevron-down menu-postfix"></i>
                                                </a>
                                                <div class="menu-submenu">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Профиль</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="menu-label">Выход</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-12">
                            <div class="d-flex flex-column h-100">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="breadcrumbs">
                                            <ul class="breadcrumbs-list">
                                                <li class="breadcrumbs-item">
                                                    <a href="#" class="breadcrumbs-link">Главная</a>
                                                </li>
                                                <li class="breadcrumbs-item">
                                                    <a href="#" class="breadcrumbs-link">Поиск</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="title">
                                            <h1>Поиск</h1>
                                        </div>
                                    </div>
                                </div>
                                <form class="mb-40">
                                    <div class="row">
                                        <div class="col-11">
                                            <div class="field">
                                                <div class="field-icon field-icon-both">
                                                    <i class="icon icon-search field-icon-start"></i>
                                                    <input type="search" name="" value="Москва" placeholder="Введите значение">
                                                    <button class="field-button field-button-end d-none" data-clear-field>
                                                        <i class="icon icon-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="button button-solid button-primary w-100">Найти</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-search mb-24">
                                            <div class="card-header">
                                                <a href="#">Наводнение в Москве</a>
                                            </div>
                                            <div class="card-description">г Москва обл Московская обл Московская, г Химки обл Московская, г Лобня Характер Региональный Статус Активно Код региона 50</div>
                                        </div>
                                        <div class="card card-search mb-24">
                                            <div class="card-header">
                                                <a href="#">Туман и непогода в аэропортах Москвы</a>
                                            </div>
                                            <div class="card-description">обл Московская, г Домодедово г Москва, п Внуково обл Московская, г Долгопрудный, тер Аэропорт Шереметьево Характер Региональный Статус Активно Код региона 77</div>
                                        </div>
                                        <div class="card card-search">
                                            <div class="card-header">
                                                <a href="#">Чрезвычайная ситуация в Москве, Краснодаре и Самаре</a>
                                            </div>
                                            <div class="card-description">обл Самарская, г Самара г Москва край Краснодарский, г Краснодар Характер Межрегиональный Статус Активно</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-auto">
                                    <div class="col-12">
                                        <footer class="footer">
                                            <div class="row">
                                                <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                                                    <div class="footer-copyrights">© Chamel<sup>on</sup>, 2021</div>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block scripts %}
    <script>
        let t = localStorage.getItem('t')
        if(!t || (t && t === 'default')) {
            document.body.classList.remove('flavum')
            document.body.classList.remove('ferrum')
        } else if(t === 'flavum') {
            document.body.classList.remove('ferrum')
            document.body.classList.add('flavum')
        } else if(t === 'ferrum') {
            document.body.classList.remove('flavum')
            document.body.classList.add('ferrum')
        }
    </script>
{% endblock %}

</body>
</html>
