<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}Таблицы с фиксированными шапками{% endblock %}</title>
    {% endblock %}

</head>

<body class="layout-center">
    <div class="wrapper-outer">
        <div class="wrapper">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h1>Таблицы с фиксированными шапками</h1>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>В этой таблице шапки фиксируются по верху родительского блока, у которого задана фиксированная высота</p>
                            <p>Этот вариант рекомендуется использовать внутри других компонентов или внутри блоков, имеющих фиксированную высоту</p>
                            <div style="height: 500px;">
                                <div class="table-container h-100">
                                    <table class="table-empty-cells table-fix-header">
                                        <thead>
                                            <tr>
                                                <th>Адрес заявления</th>
                                                <th>Наименования </th>
                                                <th>Зона </th>
                                                <th>Результат проверки</th>
                                                <th>
                                                    <a href="#" class="sortable">Дата принятия решения</a>
                                                </th>
                                                <th>Статус направления сведений</th>
                                                <th>Тип принятия решения</th>
                                                <th>
                                                    <a href="#" class="sortable">Дата отправки</a>
                                                </th>
                                                <th>*</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="p-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i> Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Не проверено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-success"><i class="icon icon-check-circle"></i> Находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td>30.08.2021 18:36</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-default"><i class="icon icon-check-circle"></i>Находилось</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i>Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td class="pv-8">30.07.2021 16:02
                                                    <span class="d-inline-block" data-tooltip="Ничего не значащая ошибка" data-flow="up-center">
                                                            <i class="icon icon-error text-danger"></i>
                                                        </span>
                                                </td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="p-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i> Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Не проверено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-success"><i class="icon icon-check-circle"></i> Находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td>30.08.2021 18:36</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-default"><i class="icon icon-check-circle"></i>Находилось</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i>Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td class="pv-8">30.07.2021 16:02
                                                    <span class="d-inline-block" data-tooltip="Ничего не значащая ошибка" data-flow="up-center">
                                                            <i class="icon icon-error text-danger"></i>
                                                        </span>
                                                </td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="p-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i> Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Не проверено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-success"><i class="icon icon-check-circle"></i> Находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td>30.08.2021 18:36</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-default"><i class="icon icon-check-circle"></i>Находилось</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i>Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td class="pv-8">30.07.2021 16:02
                                                    <span class="d-inline-block" data-tooltip="Ничего не значащая ошибка" data-flow="up-center">
                                                            <i class="icon icon-error text-danger"></i>
                                                        </span>
                                                </td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="p-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i> Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Не проверено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-success"><i class="icon icon-check-circle"></i> Находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td>30.08.2021 18:36</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-default"><i class="icon icon-check-circle"></i>Находилось</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i>Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td class="pv-8">30.07.2021 16:02
                                                    <span class="d-inline-block" data-tooltip="Ничего не значащая ошибка" data-flow="up-center">
                                                            <i class="icon icon-error text-danger"></i>
                                                        </span>
                                                </td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="p-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i> Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Не проверено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-success"><i class="icon icon-check-circle"></i> Находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td>30.08.2021 18:36</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-default"><i class="icon icon-check-circle"></i>Находилось</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td></td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                                <td>Наводнение в Москве</td>
                                                <td>г. Москва</td>
                                                <td class="pv-8">
                                                    <span class="status status-danger"><i class="icon icon-times-circle"></i>Не находится</span>
                                                </td>
                                                <td>12.05.2021</td>
                                                <td>Направлено</td>
                                                <td>Ручной/Автоматический</td>
                                                <td class="pv-8">30.07.2021 16:02
                                                    <span class="d-inline-block" data-tooltip="Ничего не значащая ошибка" data-flow="up-center">
                                                            <i class="icon icon-error text-danger"></i>
                                                        </span>
                                                </td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-eye"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>В этой таблице шапки фиксируются по верху страницы</p>
                            <p>Этот вариант рекомендуется использовать для отображения таблиц, содержащих большое количество данных</p>
                            <div class="table-container overflow-initial">
                                <table class="table-empty-cells table-fix-header">
                                    <thead>
                                        <tr>
                                            <th>Адрес заявления</th>
                                            <th>Наименования </th>
                                            <th>Зона </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Белгородская, г. Белгород, ул. Пушкарная, дом 1</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>обл. Московская, г. Балашиха, мкр. 1 Мая, дом 2, квартира 3</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                        <tr>
                                            <td>г. Москва, ул. Генерала Белобородова, дом 16 к 2</td>
                                            <td>Наводнение в Москве</td>
                                            <td>г. Москва</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                            <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% block scripts %}

{% endblock %}

</body>
</html>
