{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'accent' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}Акцент{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="accent.html" class="breadcrumbs-link">Акцент</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>Акцент</h1>
    <span class="tagline">Акценты предназначения для визуального выделения блоков</span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">Акцент</span>
            </a>

        </li>
    </ul>
</nav>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>Акцент</h2>
            <p>Пример обычного текстового блока и блока с акцентом. Для добавления акцента необходимо компонент обернуть в элемент с классом <code>.accent</code></p>
        </div>
        <div class="components-preview">
            <div class="row">
                <div class="col-12">
                    <div class="mb-24 p-32">
                        <div class="field">
                            <input type="text" name="nam" value="" placeholder="Введите значение">
                        </div>
                    </div>
                    <div class=" mb-24 p-32 accent">
                        <div class="field">
                            <input type="text" name="name" value="" placeholder="Введите значение">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="p-32">
                        <div class="dropdown" tabindex="0">
                            <button type="button" class="button button-icon dropdown-button">
                                <i class="icon icon-dots"></i>
                            </button>
                            <ul class="dropdown-list">
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-eye"></i>Посмотреть
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-list"></i>Перейти к списку
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-pencil"></i>Изменить
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-trash"></i>Удалить
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-star-outline"></i>Добавить в избранное
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-2">
                    <div class="p-32 accent">
                        <div class="dropdown" tabindex="0">
                            <button type="button" class="button button-icon dropdown-button">
                                <i class="icon icon-dots"></i>
                            </button>
                            <ul class="dropdown-list">
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-eye"></i>Посмотреть
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-list"></i>Перейти к списку
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-pencil"></i>Изменить
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-trash"></i>Удалить
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#" class="dropdown-link">
                                        <i class="icon icon-star-outline"></i>Добавить в избранное
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-32">
                        <div class="tabs">
                            <nav class="tabs-menu">
                                <ul>
                                    <li class="active">
                                        <a href="#s-1-1">Tab 1</a>
                                    </li>
                                    <li>
                                        <a href="#s-1-2">Tab 2</a>
                                    </li>
                                    <li>
                                        <a href="#s-1-3">Tab 3</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="tabs-content">
                                <div class="tab active" id="s-1-1">
                                    Web-дизайн - новый жанр изобразительного искусства, основанный на применении специфических инструментов (компьютера и программ-редакторов), специальных языков программирования (HTML, JavaScript, Java, Perl, C++, PHP и др.) и сетевых технологий (CGI, CSS, SSI и др.). Целью Web-дизайна является проектирование (создание) объектов (Web-страниц, баннеров, апплетов, скриптов, отдельных элементов Web-страниц), размещаемых в Интернете.
                                </div>
                                <div class="tab" id="s-1-2">
                                    Цвет - свойство тел вызывать определенное зрительное ощущение в соответствии со спектральным составом и интенсивностью отражаемого или испускаемого ими видимого излучения. Основные параметры цвета - цветовой тон, насыщенность и светлота. Цветовой тон определяется спектральным составом света, насыщенность - количеством добавляемого серого цвета, а светлота - яркостью.
                                </div>
                                <div class="tab" id="s-1-3">
                                    Перечислим некоторые важные рекомендации по созданию Web-сайта. Целесообразно не перегружать страницу большим числом деталей. Это связано с тем, что человек за короткое время способен воспринять и запомнить не более 7-8 объектов.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-32 accent">
                        <div class="tabs">
                            <nav class="tabs-menu">
                                <ul>
                                    <li class="active">
                                        <a href="#tab-2-1">Tab 1</a>
                                    </li>
                                    <li>
                                        <a href="#tab-2-2">Tab 2</a>
                                    </li>
                                    <li>
                                        <a href="#tab-2-3">Tab 3</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="tabs-content">
                                <div class="tab active" id="tab-2-1">
                                    Web-дизайн - новый жанр изобразительного искусства, основанный на применении специфических инструментов (компьютера и программ-редакторов), специальных языков программирования (HTML, JavaScript, Java, Perl, C++, PHP и др.) и сетевых технологий (CGI, CSS, SSI и др.). Целью Web-дизайна является проектирование (создание) объектов (Web-страниц, баннеров, апплетов, скриптов, отдельных элементов Web-страниц), размещаемых в Интернете.
                                </div>
                                <div class="tab" id="tab-2-2">
                                    Цвет - свойство тел вызывать определенное зрительное ощущение в соответствии со спектральным составом и интенсивностью отражаемого или испускаемого ими видимого излучения. Основные параметры цвета - цветовой тон, насыщенность и светлота. Цветовой тон определяется спектральным составом света, насыщенность - количеством добавляемого серого цвета, а светлота - яркостью.
                                </div>
                                <div class="tab" id="tab-2-3">
                                    Перечислим некоторые важные рекомендации по созданию Web-сайта. Целесообразно не перегружать страницу большим числом деталей. Это связано с тем, что человек за короткое время способен воспринять и запомнить не более 7-8 объектов.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
            <pre>
                <code class="language-html">
<textarea>
&lt;!-- Текстовые поля --&gt;
<div class="accent">
    <div class="field">
        <input type="text" name="" value="" placeholder="Введите значение">
    </div>
</div>

&lt;!-- Выпадающее меню --&gt;
<div class="accent">
    <div class="dropdown">
        <button type="button" class="button button-icon dropdown-button">
            <i class="icon icon-dots"></i>
        </button>
        <ul class="dropdown-list">
            <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                    <i class="icon icon-eye"></i>Посмотреть
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                    <i class="icon icon-list"></i>Перейти к списку
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                    <i class="icon icon-pencil"></i>Изменить
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                    <i class="icon icon-trash"></i>Удалить
                </a>
            </li>
            <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                    <i class="icon icon-star-outline"></i>Добавить в избранное
                </a>
            </li>
        </ul>
    </div>
</div>

&lt;!-- Табы --&gt;
<div class="accent">
    <div class="tabs">
        <nav class="tabs-menu">
            <ul>
                <li class="active">
                    <a href="#tab-2-1">Tab 1</a>
                </li>
                <li>
                    <a href="#tab-2-2">Tab 2</a>
                </li>
                <li>
                    <a href="#tab-2-3">Tab 3</a>
                </li>
            </ul>
        </nav>
        <div class="tabs-content">
            <div class="tab active" id="tab-2-1">
                Web-дизайн - новый жанр изобразительного искусства, основанный на применении специфических инструментов
                (компьютера и программ-редакторов), специальных языков программирования
                (HTML, JavaScript, Java, Perl, C++, PHP и др.) и сетевых технологий (CGI, CSS, SSI и др.).
                Целью Web-дизайна является проектирование (создание) объектов (Web-страниц, баннеров, апплетов, скриптов,
                отдельных элементов Web-страниц), размещаемых в Интернете.
            </div>
            <div class="tab" id="tab-2-2">
                Цвет - свойство тел вызывать определенное зрительное ощущение в соответствии со спектральным составом и
                интенсивностью отражаемого или испускаемого ими видимого излучения. Основные параметры цвета - цветовой тон,
                насыщенность и светлота. Цветовой тон определяется спектральным составом света, насыщенность - количеством
                добавляемого серого цвета, а светлота - яркостью.
            </div>
            <div class="tab" id="tab-2-3">
                Перечислим некоторые важные рекомендации по созданию Web-сайта. Целесообразно не перегружать страницу большим
                числом деталей. Это связано с тем, что человек за короткое время способен воспринять и запомнить не более 7-8 объектов.
            </div>
        </div>
    </div>
</div>
</textarea>
                </code>
            </pre>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Accent from "./components/Accent";
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Accent&gt;[Контент или компонент]&lt;/Accent&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>components/Accent.js</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}
