{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'badges' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}Ярлыки{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="badges.html" class="breadcrumbs-link">Ярлыки</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>Ярлыки</h1>
    <span class="tagline">Компонент предназначен для добавления в интерфейс цветных ярлыков.</span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">Обычные ярлыки</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>Ярлыки</h2>
            <p>Пример обычных ярлыков</p>
        </div>
        <div class="components-preview">
            <span class="badge badge-green">учёт данных</span>
            <span class="badge badge-blue">данные</span>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
                        <pre>
                            <code class="language-html">
<textarea>
<span class="badge badge-green">учёт данных</span>
<span class="badge badge-blue">данные</span>
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_badge.scss</code>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Badge from "./components/Badge";
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Badge text="учёт данных" type="green" /&gt;
&lt;Badge text="данные" /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>text</td>
                                        <td>Строка</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Текст ярлыка</td>
                                    </tr>
                                    <tr>
                                        <td>type</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td>blue</td>
                                        <td>
                                            Цветовой тип ярлыка<br><br>
                                            <code>blue</code> - синий<br>
                                            <code>green</code> - зеленый<br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_badge.scss</code> и <code>components/Badge.js</code>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}
