{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'breadcrumbs' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}Хлебные крошки{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="breadcrumbs.html" class="breadcrumbs-link">Хлебные крошки</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>Хлебные крошки</h1>
    <span class="tagline">Компонент предназначен для отображения пути пользователя от корня сайта до текущей страницы в навигационной иерархии.</span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">Хлебные крошки</span>
            </a>
        </li>
        <li>
            <a href="#s-2">
                <span class="menu-label">Хлебные крошки с пропуском</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>Хлебные крошки</h2>
            <p>Пример обычных хлебных крошек</p>
        </div>
        <div class="components-preview">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item">
                        <a href="/" class="breadcrumbs-link">Начало</a>
                    </li>
                    <li class="breadcrumbs-item">Компоненты</li>
                    <li class="breadcrumbs-item breadcrumbs-item-active">
                        <a href="componnets/template.html" class="breadcrumbs-link">Навигационная цепочка</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
                        <pre>
                            <code class="language-html">
<textarea>
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item breadcrumbs-item-active">
            <a href="#" class="breadcrumbs-link">Навигационная цепочка</a>
        </li>
    </ul>
</div>
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_breadcrumbs.scss</code>
                        </div>

                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Breadcrumbs from "./components/Breadcrumbs";

const items = [
    {
        label: 'Начало', // Название
        link: '/' // Ссылка
    },
    {
        label: 'Компоненты',
        link: '#'
    },
    {
        label: 'Навигационная цепочка',
        link: '#'
    }
]
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Breadcrumbs items={items} /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>items</td>
                                        <td>Массив объектов</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Массив объектов, содержащий название пункта и его ссылка</td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_breadcrumbs.scss</code> и <code>components/Breadcrumbs.js</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="s-2">
        <div class="components-title">
            <h2>Хлебные крошки с пропуском</h2>
            <p>Пример хлебных крошек с пропуском, в котором некоторые элементы скрыты в выпадающий список</p>
            <div class="alert alert-yellow mt-16">
                <div class="alert-content">Рекомендуется применять это вариант компонента, если количество элементов больше 5</div>
            </div>
        </div>
        <div class="components-preview">
            <div class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item">
                        <a href="#" class="breadcrumbs-link">Главная</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-skip" tabindex="0">
                        <button type="button" class="breadcrumbs-link">...</button>
                        <ul class="breadcrumbs-skip-list">
                            <li>
                                <a href="#">Пункт 1</a>
                            </li>
                            <li>
                                <a href="#">Пункт 2</a>
                            </li>
                            <li>
                                <a href="#">Пункт 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item-active">
                        <a href="#" class="breadcrumbs-link">Навигационная цепочка</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html2-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-2-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html2-1">
                        <div class="components-code">
                        <pre>
                            <code class="language-html">
<textarea>
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item breadcrumbs-skip" tabindex="0">
            <button type="button" class="breadcrumbs-link">...</button>
            <ul class="breadcrumbs-skip-list">
                <li>
                    <a href="#">Пункт 1</a>
                </li>
                <li>
                    <a href="#">Пункт 2</a>
                </li>
                <li>
                    <a href="#">Пункт 3</a>
                </li>
            </ul>
        </li>
        <li class="breadcrumbs-item breadcrumbs-item-active">
            <a href="#" class="breadcrumbs-link">Навигационная цепочка</a>
        </li>
    </ul>
</div>
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_breadcrumbs.scss</code>
                        </div>

                    </div>
                    <div class="tab" id="tab-react-2-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Breadcrumbs from "./components/Breadcrumbs";

const items = [
    {
        label: 'Начало', // Название
        link: '/' // Ссылка
    },
    {
        label: 'Пункт 1',
        link: '#'
    },
    {
        label: 'Пункт 2',
        link: '#'
    },
    {
        label: 'Пункт 3',
        link: '#'
    },
    {
        label: 'Навигационная цепочка',
        link: '#'
    }
]
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Breadcrumbs items={items} skippable={true} /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>items</td>
                                        <td>Массив объектов</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Массив объектов, содержащий название пункта и его ссылка</td>
                                    </tr>
                                    <tr>
                                        <td>skippable</td>
                                        <td>Логический</td>
                                        <td>Нет</td>
                                        <td>false</td>
                                        <td>Включает/отключает пропуск элементов, кроме первого и последнего</td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_breadcrumbs.scss</code> и <code>components/Breadcrumbs.js</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}