{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'json' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}JSON{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="json.html" class="breadcrumbs-link">JSON</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>JSON</h1>
    <span class="tagline">Компонент предназначены для добавления в интерфейс распечатываемого JSON-объекта</span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">JSON</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>JSON</h2>
            <p>Пример компонента</p>
        </div>
        <div class="components-preview">
            <div class="json">
                <pre>
{
    "querytype": "VS486468v884",
    "systemId": "1",
    "uuid": "789979852-fg95+9-466dfg5-956-xdd6468468dx64684d68",
    "OriginalUuid": "х",
    "Response": {
    "changeOrderInfo": {
        "OrderId": 864454688468,
            "statusCode": 3,
            "comment": "Государственная услуга оказана"
    },
    "cancelResponse": null,
        "textResponse": null
    },
    "AttachmentHeaderList" : [
        {
            "AttachmentHeader": {
                "Id": null,
            }
        }
    ]
}
                </pre>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
                        <pre>
                            <code class="language-html">
<textarea>
<div class="json">
    <pre>
{
    "querytype": "VS486468v884",
    "systemId": "1",
    "uuid": "789979852-fg95+9-466dfg5-956-xdd6468468dx64684d68",
    "OriginalUuid": "х",
    "Response": {
    "changeOrderInfo": {
        "OrderId": 864454688468,
            "statusCode": 3,
            "comment": "Государственная услуга оказана"
    },
    "cancelResponse": null,
        "textResponse": null
    },
    "AttachmentHeaderList" : [
        {
            "AttachmentHeader": {
                "Id": null,
            }
        }
    ]
}
    </pre>
</div>
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_json.scss</code>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Json from "./components/Json";

const response = {
    "querytype": "VS486468v884",
    "systemId": "1",
    "uuid": "789979852-fg95+9-466dfg5-956-xdd6468468dx64684d68",
    "OriginalUuid": "х",
    "Response": {
    "changeOrderInfo": {
        "OrderId": 864454688468,
            "statusCode": 3,
            "comment": "Государственная услуга оказана"
    },
    "cancelResponse": null,
        "textResponse": null
    },
    "AttachmentHeaderList" : [
        {
            "AttachmentHeader": {
                "Id": null,
            }
        }
    ]
}
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Json json={response} /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>json</td>
                                        <td>Объект</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Объект, который будет выведен в удобном читаемом формате</td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_json.scss</code> и <code>components/Json.js</code>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}