{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'title' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}Заголовки страниц{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="title.html" class="breadcrumbs-link">Заголовки страниц</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>Заголовки страниц</h1>
    <span class="tagline">Компонент предназначен для добавления в интерфейс заголовка страниц и краткого описания к ней.</span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">Обычный заголовок</span>
            </a>
        </li>
        <li>
            <a href="#s-2">
                <span class="menu-label">Заголовок страницы с описанием</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>Заголовок страниц</h2>
            <p>Пример заголовка страницы</p>
        </div>
        <div class="components-preview">
            <div class="title">
                <h1>Выпадающее меню</h1>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
            <pre>
                <code class="language-html">
<textarea>
<div class="title">
    <h1>Выпадающее меню</h1>
</div>
</textarea>
                </code>
            </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_title.scss</code>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Title from "./components/Title";
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Title title="Выпадающее меню" /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>title</td>
                                        <td>Строка</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Текст заголовка</td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_title.scss</code> и <code>sass/components/Title.js</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="s-2">
        <div class="components-title">
            <h2>Заголовок страницы с описанием</h2>
            <p>Пример заголовка страницы с описанием. Компонент составной и содержит в себе утилиту <a href="../utils/display.html">отображения</a></p>
        </div>
        <div class="components-preview">
            <div class="title d-block">
                <h1>Выпадающее меню</h1>
                <span class="tagline">Компонент позволяет добавить в интерфейс компактный способ отображения нескольких вариантов, которые появляется при взаимодействии с элементом (например, значком или кнопкой).</span>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-2-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-2-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-2-1">
                        <div class="components-code">
                        <pre>
                            <code class="language-html">
<textarea>
<div class="title d-block">
<h1>Выпадающее меню</h1>
<span class="tagline">
    Компонент позволяет добавить в интерфейс компактный способ отображения нескольких вариантов,
    которые появляется при взаимодействии с элементом (например, значком или кнопкой).
</span>
</div>
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_title.scss</code>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-2-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import Title from "./components/Title";
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
&lt;Title title="Выпадающее меню" tagline="Компонент позволяет добавить в интерфейс компактный..." /&gt;
</textarea>
                            </code>
                        </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>title</td>
                                        <td>Строка</td>
                                        <td>Да</td>
                                        <td></td>
                                        <td>Текст заголовка</td>
                                    </tr>
                                    <tr>
                                        <td>tagline</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Краткий текст-описание</td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_title.scss</code> и <code>sass/components/Title.js</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}