{% extends "../base.twig" %}
{% set base = false %}
{% set sidebar = true %}
{% set secondary_sidebar = true %}
{% set sidebar_menu_active_item = 'wizard' %}
{% set heder_menu_active_item = 'components' %}
{% block title %}Мастер{% endblock %}

{% block head %}

    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
            <a href="/" class="breadcrumbs-link">Начало</a>
        </li>
        <li class="breadcrumbs-item">Компоненты</li>
        <li class="breadcrumbs-item">
            <a href="wizard.html" class="breadcrumbs-link">Мастер</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block pagetitle %}
<div class="title d-block">
    <h1>Мастер</h1>
    <span class="tagline">Компонент предназначен для добавления в интерфейс различных мастеров с пошаговым действием. <br>Дополнительная информация - <a href="http://techlaboratory.net/jquery-smartwizard" target="_blank">http://techlaboratory.net/jquery-smartwizard</a></span>
</div>
{% endblock %}


{% block secondary_sidebar %}
<nav class="vertical-menu">
    <ul>
        <li>
            <a href="#s-1">
                <span class="menu-label">Обычный мастер</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-title">
            <h2>Мастер</h2>
            <p>Пример обычного мастера с кнопками для перехода к следующему шагу, предыдущем шагу, сбросу до первоначального состояния и переходу определенному шагу</p>
        </div>
        <div class="components-preview">
            <div class="wizard" id="wizard-1">
                <ul class="wizard-nav">
                    <li class="wizard-item">
                        <a class="wizard-link" href="#step-1">
                            Шаг 1
                        </a>
                    </li>
                    <li class="wizard-item">
                        <a class="wizard-link" href="#step-2">
                            Шаг 2
                        </a>
                    </li>
                    <li class="wizard-item">
                        <a class="wizard-link" href="#step-3">
                            Шаг 3
                        </a>
                    </li>
                    <li class="wizard-item">
                        <a class="wizard-link" href="#step-4">
                            Шаг 4
                        </a>
                    </li>
                </ul>
                <div class="wizard-content">
                    <div id="step-1" class="wizard-pane">
                        Контент для шага 1
                    </div>
                    <div id="step-2" class="wizard-pane">
                        Контент для шага 2
                    </div>
                    <div id="step-3" class="wizard-pane">
                        Контент для шага 3
                    </div>
                    <div id="step-4" class="wizard-pane">
                        Контент для шага 4
                    </div>
                </div>
            </div>
        </div>
        <div class="components-tabs">
            <div class="tabs">
                <nav class="tabs-menu">
                    <ul>
                        <li class="active">
                            <a href="#tab-html-1-1">HTML</a>
                        </li>
                        <li>
                            <a href="#tab-react-1-2">React</a>
                        </li>
                    </ul>
                </nav>
                <div class="tabs-content">
                    <div class="tab active" id="tab-html-1-1">
                        <div class="components-code">
            <pre>
                <code class="language-html">
<textarea>
<div class="wizard" id="wizard-1">
    <ul class="wizard-nav">
        <li class="wizard-item">
            <a class="wizard-link" href="#step-1">
                Шаг 1
            </a>
        </li>
        <li class="wizard-item">
            <a class="wizard-link" href="#step-2">
                Шаг 2
            </a>
        </li>
        <li class="wizard-item">
            <a class="wizard-link" href="#step-3">
                Шаг 3
            </a>
        </li>
        <li class="wizard-item">
            <a class="wizard-link" href="#step-4">
                Шаг 4
            </a>
        </li>
    </ul>
    <div class="wizard-content">
        <div id="step-1" class="wizard-pane">
            Контент для шага 1
        </div>
        <div id="step-2" class="wizard-pane">
            Контент для шага 2
        </div>
        <div id="step-3" class="wizard-pane">
            Контент для шага 3
        </div>
        <div id="step-4" class="wizard-pane">
            Контент для шага 4
        </div>
    </div>
</div>
</textarea>
                </code>
            </pre>
                        </div>
                        <div class="components-options">
                            <p>Следующие data-атрибуты позволяют управлять внешним видом мастера. Представленные ниже data-атрибуты должны быть применены к корневому элементу мастера (элемент с классом <code>.wizard</code>)</p>
                            <div class="table-container mb-24">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>data-атрибут</th>
                                        <th>Тип</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>data-show-footer</td>
                                            <td>Логический</td>
                                            <td>true</td>
                                            <td>Управляет отображением футера</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p>Следующие data-атрибуты позволяют управлять мастером (API)</p>
                            <div class="table-container">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>data-атрибут</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>data-wizard-prev</td>
                                        <td>Переход к предыдущему шаг</td>
                                    </tr>
                                    <tr>
                                        <td>data-wizard-next</td>
                                        <td>Переход к следующему шагу</td>
                                    </tr>
                                    <tr>
                                        <td>data-wizard-finish</td>
                                        <td>Сбросить мастер в исходное состояние</td>
                                    </tr>
                                    <tr>
                                        <td>data-wizard-go</td>
                                        <td>Переход к определенному шагу</td>
                                    </tr>
                                    <tr>
                                        <td>data-wizard</td>
                                        <td>Идентификатор инстанса мастера, которым необходимо управлять</td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_wizard.scss</code>
                        </div>
                    </div>
                    <div class="tab" id="tab-react-1-2">
                        <div class="components-code">
                        <pre>
                            <code class="language-js">
<textarea>
import {Wizard, Step} from "../components/Wizard";
</textarea>
                            </code>
                        </pre>
                            <pre>
                            <code class="language-html">
<textarea>
<Wizard>
    <Step>Контент для шага 1</Step>
    <Step>Контент для шага 2</Step>
    <Step>Контент для шага 3</Step>
    <Step>Контент для шага 4</Step>
</Wizard>
</textarea>
                </code>
            </pre>
                        </div>
                        <div class="components-options">
                            <div class="table-container">
                                <table class="table-empty-cells">
                                    <thead>
                                    <tr>
                                        <th>Свойство</th>
                                        <th>Тип</th>
                                        <th>Обязательно</th>
                                        <th>По-умолчанию</th>
                                        <th>Описание</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>showReset</td>
                                        <td>Логический</td>
                                        <td>Нет</td>
                                        <td>true</td>
                                        <td>Показывать кнопку сброса мастера к первоначальному состоянию</td>
                                    </tr>
                                    <tr>
                                        <td>showFooter</td>
                                        <td>Логический</td>
                                        <td>Нет</td>
                                        <td>true</td>
                                        <td>Отображать / Не отображать футер с кнопками</td>
                                    </tr>
                                    <tr>
                                        <td>title</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td>'Шаг N'</td>
                                        <td>
                                            Альтернативное название шага<br>
                                            В данном компоненте применимо только к дочернему компоненту <code>&lt;Step /&gt;</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>utils</td>
                                        <td>Строка</td>
                                        <td>Нет</td>
                                        <td></td>
                                        <td>Название <a href="../utils/margins.html">CSS-утилит</a>, разделенных пробелом</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="components-source">
                            Исходный код этого компонента находится по пути <code>sass/components/_wizard.scss</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}