{% extends "../base.twig" %}
{% set base = false %}
{% set heder_menu_active_item = 'examples' %}
{% block title %}Формирования{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item">
                <a href="/" class="breadcrumbs-link">Начало</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="{{ app.request.getBaseURL() }}/examples/index.html" class="breadcrumbs-link">Примеры</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="formation.html" class="breadcrumbs-link">Формирования</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block pagetitle %}
    <div class="title">
        <h1>Формирования</h1>
        <a href="../preview/formation.html" class="button button button-solid button-primary" target="_blank">Просмотр</a>
    </div>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-code">
            <pre>
                <code class="language-html">
<textarea>
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Формирования</title>
        <script defer src="//sitename/js/theme.js"></script>
        <link href="//sitename/css/style.css" rel="stylesheet">
    </head>

    <body class="layout-center">
        <div class="wrapper-outer">
            <div class="wrapper">
                <header class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="navbar">
                                    <div class="logo">
                                        <a href="#">Управа</a>
                                    </div>
                                    <button class="button button-icon" data-toggle-header>
                                        <i class="icon icon-bars"></i>
                                    </button>
                                    <nav class="horizontal-menu">
                                        <div class="menu-left">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon icon-page menu-prefix"></i>
                                                        <span class="menu-label">Записи</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="active" href="#">
                                                        <i class="icon icon-map-tree menu-prefix"></i>
                                                        <span class="menu-label">Формирования</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon icon-classifiers menu-prefix"></i>
                                                        <span class="menu-label">Классификаторы</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon icon-users menu-prefix"></i>
                                                        <span class="menu-label">Пользователи</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-right">
                                            <ul>
                                                <li tabindex="0">
                                                    <a href="#">
                                                        <i class="icon icon-user menu-prefix"></i>
                                                        <span class="menu-label">Администратор</span>
                                                        <i class="icon icon-chevron-down menu-postfix"></i>
                                                    </a>
                                                    <div class="menu-submenu">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="menu-label">Профиль</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="menu-label">Выход</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="breadcrumbs">
                                    <ul class="breadcrumbs-list">
                                        <li class="breadcrumbs-item">
                                            <a class="breadcrumbs-link" href="#">Главная</a>
                                        </li>
                                        <li class="breadcrumbs-item">
                                            <a class="breadcrumbs-link" href="#">Формирования</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="title">
                                    <h1>Формирования</h1>
                                    <button class="button button-solid button-primary" type="button">Добавить формирование
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-3">
                                <div class="mb-32">
                                    <div class="field">
                                        <div class="field-icon field-icon-prefix">
                                            <i class="icon icon-search field-icon-start"></i>
                                            <input id="search_formation" placeholder="Найти" type="search">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32" data-jstree>
                                    <ul>
                                        <li>по Кировской области
                                            <ul>
                                                <li>Арбатский
                                                    <ul>
                                                        <li>Item 1</li>
                                                        <li>Item 2</li>
                                                        <li>Item 3</li>
                                                    </ul>
                                                </li>
                                                <li>Афанасьевский
                                                    <ul>
                                                        <li data-jstree='{ "selected" : true }'>Богородский</li>
                                                    </ul>
                                                </li>
                                                <li>Верхнекамский
                                                    <ul>
                                                        <li>Item 1</li>
                                                        <li>Item 2</li>
                                                        <li>Item 3</li>
                                                    </ul>
                                                </li>
                                                <li>Вятскополянский
                                                    <ul>
                                                        <li>Вятскополянский 2</li>
                                                        <li>Вятскополянский Центральный</li>
                                                    </ul>
                                                </li>
                                                <li>Даровский
                                                    <ul>
                                                        <li>Зуевский</li>
                                                    </ul>
                                                </li>
                                                <li>Кирово-Чепецкий
                                                    <ul>
                                                        <li>Item 1</li>
                                                        <li>Item 2</li>
                                                        <li>Item 3</li>
                                                    </ul>
                                                </li>
                                                <li>Кировский
                                                    <ul>
                                                        <li>Item 1</li>
                                                        <li>Item 2</li>
                                                        <li>Item 3</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>по Московской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Ленинградской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Ростовской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Нижегородской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Саратовской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Самарской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Оренбургской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Пензенской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Амурской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Архангельской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                        <li>по Брянской области
                                            <ul>
                                                <li>Item 1</li>
                                                <li>Item 2</li>
                                                <li>Item 3</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9">
                                <div class="h-100 accent">
                                    <div class="map"></div>
                                    <div class="infoblock accent">
                                        <div class="infoblock-title">
                                            <h3>Богородский</h3>
                                        </div>
                                        <div class="infoblock-content">
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Часовой пояс</strong></div>
                                                    <div class="col-8">МСК</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Адрес </strong></div>
                                                    <div class="col-8">299011, г. Киров, ул Олега Кошевого, 6</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Телефон</strong></div>
                                                    <div class="col-8">89264531976</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Email</strong></div>
                                                    <div class="col-8">bogorodskiy@pgs.ru</div>
                                                </div>
                                            </div>
                                            <div class="infoblock-row">
                                                <div class="row">
                                                    <div class="col-4"><strong>Вышестоящее подразделение</strong></div>
                                                    <div class="col-8">по Кировской области</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                                <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
</textarea>
                </code>
            </pre>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
