{% extends "../base.twig" %}
{% set base = false %}
{% set heder_menu_active_item = 'examples' %}
{% block title %}Примеры{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row h-100">
    <div class="col-12 h-100">
        <div class="pt-64">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-48">Примеры типовых страниц</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <figure>
                        <img src="../images/classifiers-example.jpg" alt="Список классификаторов">
                        <div class="overlay">
                            <a href="../preview/classifiers.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/classifiers.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Список классификаторов</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/formation-example.jpg" alt="Формирования">
                        <div class="overlay">
                            <a href="../preview/formation.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/formation.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Формирования</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/records-example.jpg" alt="Записи">
                        <div class="overlay">
                            <a href="../preview/records.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/records.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Записи</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/users-example.jpg" alt="Список пользователей">
                        <div class="overlay">
                            <a href="../preview/users.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/users.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Список пользователей</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/profile-example.jpg" alt="Список пользователей">
                        <div class="overlay">
                            <a href="../preview/profile.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/profile.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Профиль пользователя</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/profile_edit-example.jpg" alt="Список пользователей">
                        <div class="overlay">
                            <a href="../preview/profile_edit.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/profile_edit.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Редактирование профиля</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/passport-example.jpg" alt="Управление ролевой моделью">
                        <div class="overlay">
                            <a href="../preview/passport.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/passport.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Управление ролевой моделью</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/chs-example.jpg" alt="Список проверок">
                        <div class="overlay">
                            <a href="../preview/chs.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/chs.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Список проверок</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/application_gims.jpg" alt="Заявление данные">
                        <div class="overlay">
                            <a href="../preview/application_gims.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/application_gims.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Заявление данные</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/application_gims_edit.jpg" alt="Редактирование заявления данные">
                        <div class="overlay">
                            <a href="../preview/application_gims_edit.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/application_gims_edit.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Редактирование заявления данные</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/passport_login_example.jpg" alt="Авторизация">
                        <div class="overlay">
                            <a href="../preview/login.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/login.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Авторизация</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/facet_sidebar-example.jpg" alt="Поиск с сайдбаром и фасетом справа">
                        <div class="overlay">
                            <a href="../preview/search_sidebar.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/search_sidebar.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Поиск с сайдбаром и фасетом справа</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/facet_left-example.jpg" alt="Поиск с фасетом слева">
                        <div class="overlay">
                            <a href="../preview/search_left.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/search_left.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Поиск с фасетом слева</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/facet_right-example.jpg" alt="Поиск с фасетом справа">
                        <div class="overlay">
                            <a href="../preview/search_right.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/search_right.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Поиск с фасетом справа</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/search_default-example.jpg" alt="Поисковая выдача без фасетов">
                        <div class="overlay">
                            <a href="../preview/search_default.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/search_default.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Поисковая выдача без фасетов</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="mv-48">Примеры страниц HTTP-ошибок</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <figure>
                        <img src="../images/e400-example.jpg" alt="Ошибка 400">
                        <div class="overlay">
                            <a href="../preview/e400.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e400.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 400 (анимация)</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e401-example.jpg" alt="Ошибка 401">
                        <div class="overlay">
                            <a href="../preview/e401.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e401.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 401</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e402-example.jpg" alt="Ошибка 402">
                        <div class="overlay">
                            <a href="../preview/e402.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e402.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 402</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e403-example.jpg" alt="Ошибка 403">
                        <div class="overlay">
                            <a href="../preview/e403.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e403.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 403</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e404-example.jpg" alt="Ошибка 404">
                        <div class="overlay">
                            <a href="../preview/e404.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e404.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 404 (анимация)</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e418-example.jpg" alt="Ошибка 418">
                        <div class="overlay">
                            <a href="../preview/e418.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e418.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 418</h3>
                </div>
                <div class="col-3">
                    <figure>
                        <img src="../images/e500-example.jpg" alt="Ошибка 500">
                        <div class="overlay">
                            <a href="../preview/e500.html" class="button button button-solid button-primary mb-16" target="_blank">Просмотр</a>
                            <a href="../examples/e500.html" class="button button button-solid button-primary" target="_blank">Код</a>
                        </div>
                    </figure>
                    <h3>Ошибка 500</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
