{% extends "../base.twig" %}
{% set base = false %}
{% set heder_menu_active_item = 'examples' %}
{% block title %}Управление ролевой моделью{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item">
                <a href="/" class="breadcrumbs-link">Начало</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="{{ app.request.getBaseURL() }}/examples/index.html" class="breadcrumbs-link">Примеры</a>
            </li>
            <li class="breadcrumbs-item">
                <a href="passport.html" class="breadcrumbs-link">Управление ролевой моделью</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block pagetitle %}
    <div class="title">
        <h1>Управление ролевой моделью</h1>
        <a href="../preview/passport.html" class="button button button-solid button-primary" target="_blank">Просмотр</a>
    </div>
{% endblock %}


{% block content %}
    <section id="s-1">
        <div class="components-code">
            <pre>
                <code class="language-html">
<textarea>
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Управление ролевой моделью</title>
        <script defer src="//sitename/js/theme.js"></script>
        <link href="//sitename/css/style.css" rel="stylesheet">
    </head>

    <body class="layout-center">
        <div class="wrapper-outer">
            <div class="wrapper">
                <header class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="navbar">
                                    <div class="logo">
                                        <a href="#">Паспортная система</a>
                                    </div>
                                    <button class="button button-icon" data-toggle-header>
                                        <i class="icon icon-bars"></i>
                                    </button>
                                    <nav class="horizontal-menu">
                                        <div class="menu-left">
                                            <ul>
                                                <li>
                                                    <a class="active" href="#">
                                                        <i class="icon icon-users menu-prefix"></i>
                                                        <span class="menu-label">Роли</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="icon icon-page menu-prefix"></i>
                                                        <span class="menu-label">Адресная книга</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-right">
                                            <ul>
                                                <li tabindex="0">
                                                    <a href="#">
                                                        <i class="icon icon-user menu-prefix"></i>
                                                        <span class="menu-label">Администратор</span>
                                                        <i class="icon icon-chevron-down menu-postfix"></i>
                                                    </a>
                                                    <div class="menu-submenu">
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="menu-label">Профиль</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <span class="menu-label">Выход</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="breadcrumbs">
                                    <ul class="breadcrumbs-list">
                                        <li class="breadcrumbs-item">
                                            <a class="breadcrumbs-link" href="#">Главная</a>
                                        </li>
                                        <li class="breadcrumbs-item">
                                            <a class="breadcrumbs-link" href="#">Роли</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="title">
                                    <h1>Управление ролевой моделью</h1>
                                    <button class="button button-solid button-primary" type="button">Добавить роль</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="tabnav">
                                    <nav class="tabnav-menu justify-content-between">
                                        <ul>
                                            <li>
                                                <a href="#" class="active">Роли</a>
                                            </li>
                                            <li>
                                                <a href="#">Привилегии</a>
                                            </li>
                                            <li>
                                                <a href="#">Права</a>
                                            </li>
                                            <li>
                                                <a href="#">Роли СЭД</a>
                                            </li>
                                        </ul>
                                        <button class="button button-icon" data-filter="#filter-1" data-toggle-filter type="button">
                                            <i class="icon icon-filters"></i>
                                            <span class="button-counter">2</span>
                                        </button>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="filter d-none" id="filter-1">
                                    <form>
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="field mb-16">
                                                    <div class="field-icon field-icon-prefix">
                                                        <i class="icon icon-search field-icon-start"></i>
                                                        <input type="search" placeholder="Найти" name="field_name" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="mb-16">
                                                    <select name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                        <option label="Select a state"></option>
                                                        <option>one</option>
                                                        <option>two</option>
                                                        <option>tree</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="field mb-16">
                                                    <select name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                        <option label="Select a state"></option>
                                                        <option>one</option>
                                                        <option>two</option>
                                                        <option>tree</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="field mb-16">
                                                    <div class="field-icon field-icon-prefix">
                                                        <i class="icon icon-search field-icon-start"></i>
                                                        <input type="search" placeholder="Найти" name="field_name" value="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="mb-16">
                                                    <select name="field_name" data-placeholder="Select a state" data-select2-width="100%">
                                                        <option label="Select a state"></option>
                                                        <option>one</option>
                                                        <option>two</option>
                                                        <option>tree</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="filed mb-16">
                                                    <button type="submit" class="button button-solid button-secondary">Найти</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="table-container">
                                    <table class="table-empty-cells" data-fix-right-col="true">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="#" class="sortable">Машинное имя</a>
                                                </th>
                                                <th>
                                                    <a href="#" class="asc">Наименование роли</a>
                                                </th>
                                                <th>Привилегии</th>
                                                <th>Описание</th>
                                                <th>
                                                    <a href="#" class="desc">Дата создания</a>
                                                </th>
                                                <th>Дата обновления</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Registry Drown</td>
                                                <td></td>
                                                <td class="td-width-400">
                                                    <a href="#">Registry Drown</a>
                                                </td>
                                                <td></td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registry Drown</td>
                                                <td>Registry Drown</td>
                                                <td class="td-width-400">
                                                    <a href="#">Delegation Administrator Password Policy Administrator Replication Admonostrators Write IPA Configuration</a>
                                                </td>
                                                <td>Registry Drown</td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Passport service client</td>
                                                <td>Служебная роль паспортной системы</td>
                                                <td class="td-width-400">
                                                    <a href="#">Passport service client</a>
                                                </td>
                                                <td>Registry Drown</td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registry Drown</td>
                                                <td></td>
                                                <td class="td-width-400">
                                                    <a href="#">Registry Drown</a>
                                                </td>
                                                <td></td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registry Drown</td>
                                                <td>Registry Drown</td>
                                                <td class="td-width-400">
                                                    <a href="#">Delegation Administrator Password Policy Administrator Replication Admonostrators Write IPA Configuration</a>
                                                </td>
                                                <td>Registry Drown</td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Passport service client</td>
                                                <td>Служебная роль паспортной системы</td>
                                                <td class="td-width-400">
                                                    <a href="#">Passport service client</a>
                                                </td>
                                                <td>Registry Drown</td>
                                                <td>02.06.2021 09:11</td>
                                                <td>02.06.2021 09:11</td>
                                                <td class="text-right pv-8">
                                                    <a href="#" class="td-link"><i class="icon icon-pencil"></i></a>
                                                    <a href="#" class="td-link"><i class="icon icon-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="pagenav">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="pagenav-counter">Страница 1 из 25</div>
                                            <div class="pagenav-results">
                                                Результатов на странице
                                                <select data-placeholder="Выберите из списка" data-select2-search="false"
                                                        data-select2-width="85px" name="page_count">
                                                    <option value="1">30</option>
                                                    <option value="2">60</option>
                                                    <option value="3">90</option>
                                                    <option value="4">120</option>
                                                    <option value="5">Все</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="pagenav-pagination">
                                                <nav>
                                                    <ul class="pagination">
                                                        <li class="page-item disabled">
                                                            <span class="page-link">«&nbsp;Назад</span>
                                                        </li>
                                                        <li class="page-item active">
                                                            <span class="page-link">1</span>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">2</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">3</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">4</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#" rel="next">Вперед&nbsp;»</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-xxl-6 order-2 order-xxl-1">
                                <div class="footer-copyrights">&copy; Chamel<sup>on</sup>, 2021</div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
</textarea>
                </code>
            </pre>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
