.pagenav {
  color: var(--pagenav-text-color);
  font-size: rem(14);
  margin: rem(16) 0 0 0;
  &-counter {
    text-align: center;
    margin: 0 0 rem(8) 0;
    @media(min-width: $breakpoint){
      text-align: left;
      display: inline-flex;
      justify-content: flex-start;
      margin: 0 rem(28) 0 0;
      align-items: center;
      height: 100%;
    }
  }
  &-results {
    text-align: center;
    margin: 0 0 rem(8) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .select2-container {
      margin: 0 0 0 rem(8);
    }
    .select2-selection__rendered {
      font-weight: 700;
      color: var(--pagenav-selected-color) !important;
    }
    @media(min-width: $breakpoint){
      display: inline-flex;
      text-align: left;
      justify-content: flex-start;
      margin: 0;
    }
  }
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media(min-width: $breakpoint){
      justify-content: flex-end;
    }
  }
}
